# Ambiente Virtual do Python
venv/
.venv/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Pastas com dados gerados pelos notebooks
resultados/
dados_processados/

# Arquivos de checkpoint do Jupyter
.ipynb_checkpoints/

# Arquivos de configuração de editores de código
.vscode/
.idea/